@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #666666;
    text-align: center;
    font-size: 16px;
}

header {
    height: 80px;
    width: 100%;
    background-color: #666666;
}

footer {
    height: 488px;
    width: 100%;
    background-color: #666666;
}

.Line {
    background-color: #0DCAF1;
    width: 120px;
    height: 3px;
    border-radius: 100px;
}

.AlignHeading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.AlignHeading h1 {
    text-align: center;
    color: #0F343A;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
}

.Sec1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.InfoContato {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 24px;
    width: 320px;
    padding: 40px 0px 40px 24px;
    background-color: #F5F6F7;
    border-radius: 4px;
}

.DivideInfo
{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 24px;
}

.AlignInfo {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 4px;
}

.AlignInfo :first-child {
    font-weight: 600;
}

.NavButton {
    padding: 12px 48px;
    border-radius: 32px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #0DCAF1;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: .25s;
    border: none;
}

.NavButton:hover {
    color: #0DCAF1;
    background-color: white;
    border: 1px solid #0DCAF1;
}

.ButtonProductsList {
    align-self: center;
    margin-top: 8px;
}


.Sec2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.Sec2 p {
    margin-bottom: 8px;
    width: 85%;
}

@media screen and (min-width: 420px) and (max-width: 780px){

    .InfoContato {
        margin-top: 16px;
        margin-bottom: 16px;
        width: 75%;
        padding: 48px 0px 48px 0px;
        background-color: #F5F6F7;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 4px;
        gap: 16px;
    }

    .DivideInfo
    {
        gap: 16px;
    }

    .AlignInfo {
        gap: 8px;
        margin-bottom: 16px;
    }

    .AlignInfo p{
        font-size: 16px;
    }

    .Sec2 {
        gap: 24px;
        margin-bottom: 64px;
    }
    
    .Sec2 p {
        margin-bottom: 8px;
        font-size: 16px;
        width: 70%;
    }

    .NavButton {
        padding: 16px 40px;
        border-radius: 32px;
        font-size: 16px;
    }    
}

@media screen and (min-width: 780) and (max-width: 1080px){
    header {
        height: 120px;
    }

    footer {
        height: 490px;
    }

    .Line
    {
        width: 200px;
        height: 4px;
    }

    .AlignHeading h1 {
        font-size: 28px;
    }

    .InfoContato {
        margin-top: 16px;
        margin-bottom: 16px;
        width: 80%;
        padding: 48px 0px 48px 0px;
        background-color: #F5F6F7;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        border-radius: 4px;
        gap: 64px;
    }

    .AlignInfo {
        gap: 8px;
        margin-bottom: 16px;
    }

    .AlignInfo p{
        font-size: 16px;
    }

    .Sec2 {
        gap: 24px;
        margin-bottom: 64px;
    }
    
    .Sec2 p {
        margin-bottom: 8px;
        font-size: 16px;
        width: 70%;
    }

    .NavButton {
        padding: 16px 40px;
        border-radius: 32px;
        font-size: 16px;
    }    
}


@media screen and (min-width: 1080px) {

    header {
        height: 160px;
    }

    footer {
        height: 580px;
    }

    .Line
    {
        width: 200px;
        height: 4px;
    }

    .AlignHeading h1 {
        font-size: 32px;
    }

    .InfoContato {
        margin-top: 16px;
        margin-bottom: 16px;
        width: 760px;
        padding: 48px 0px 48px 0px;
        background-color: #F5F6F7;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        border-radius: 4px;
        gap: 64px;
    }

    .AlignInfo {
        gap: 8px;
        margin-bottom: 16px;
    }

    .AlignInfo p{
        font-size: 19px;
    }

    .Sec2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 64px;
    }
    
    .Sec2 p {
        margin-bottom: 8px;
        font-size: 19px;
        width: 50%;
    }

    .NavButton {
        padding: 16px 40px;
        border-radius: 32px;
        font-size: 19px;
        font-weight: 500;
    }    
    
}