@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

h1
{
    color: #0F343A;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
}

p
{
    font-family: 'Roboto', sans-serif;
    color: #666666;
    text-align: center;
    font-size: 16px;
}

header
{
    height: 80px;
    width: 100%;
    background-color: #666666;
}

footer
{
    height: 488px;
    width: 100%;
    background-color: #666666;
}

.Line
{
    background-color: #0DCAF1;
    width: 120px;
    height: 3px;
    border-radius: 100px;
}

.AlignHeading
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}


.Sec3
{
    background-color: #047187;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 32px 0 40px 0;
}

.Sec3 h1
{
    color: white;
    width: 270px;
    text-align: center;
}


.Sec3 p
{
    margin-top: 16px;
    width: 270px;
    color: white;
    text-align: center;
}

.AlterLine
{
    background-color: #6FD7EC;
}


.Sec2
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 32px 0 40px 0;
    margin: 16px 0;
}

.Sec2 h1
{
    width: 270px;
    text-align: center;
}

.Sec2 p
{
    margin-top: 16px;
    width: 270px;
    text-align: center;
}


.Sec5
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.Sec5 p
{
    margin-top: 16px;
}

.imgContainer
{

    width: 280px;
    height: 220px;
    background-image: url("../Assets/ImagensPaginas/PáginaSobre.jpg");
    background-position: center;
    background-size: cover;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    border-radius: 6px;
    margin-bottom: 64px;
}

.navButton
{
    padding: 12px 40px;
    border-radius: 32px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #0DCAF1;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: .25s;
    border: solid;
    margin-top: 8px;
    margin-bottom: 16px;
}

.navButton:hover
{
    color: #0DCAF1;
    background-color: white;
    border: 1px solid #0DCAF1;
}

.Sec1
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
    height: 550px;
}

.Sec1 .Bg
{
 background-color: #047187;
 width: 320px;
 height: 360px;
 border-radius: 4px;
}

.AlignSection1
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 16px;
    margin-top: 32px;
}


.AlignSection1 h1
{
    color: white;
}


.img1
{
    position: absolute;
    bottom: 0px;
    width: 280px;
    height: 440px;
    background-image: url("../Assets/ImagensPaginas/PáginaSobre1.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 4px;
}

.AlignAccordions
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.Accordion
{
    background-color: #F5F6F7;
    border-radius: 6px;
    display: flex;
    flex-direction: column;;
    align-items: center;
    gap: 8px;
    width: 280px;
    padding: 24px 0;
    transition: .2s;
}

.Accordion div
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.Accordion div p
{
    font-weight: 600;
    font-size: 16px;
    color: #4B676C;
}

.Accordion div svg
{
    width: 16px;
    color: #4B676C;
}

.Accordion p
{
    font-size: 16px;
    width: 80%;
    color: #677F83;
    text-align: left;
}

.Hidden
{
display: none;
}

.Sec4
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
    margin-bottom: 48px;
}



.DivideAccordions
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.AlignTextSec4
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}



@media screen and (min-width: 420px) and (max-width: 780px) {

    header {
        height: 120px;
    }

    footer {
        height: 580px;
    }

    .Sec1 {
        margin-top: 48px;
    }

    .Line {
        width: 160px;
        height: 4px;
    }

    .AlignHeading h1 {
        font-size: 28px;
    }

    .InfoContato {
        margin-top: 16px;
        margin-bottom: 16px;
        width: 90%;
        padding: 48px 0px 48px 48px;
        flex-direction: column;
        gap: 16px;

    }

    .AlignInfo {
        gap: 8px;
        margin-bottom: 16px;
    }

    .AlignInfo p {
        font-size: 19px;
    }

    .Sec2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 64px;
    }

    .Sec2 p {
        margin-bottom: 40px;
        font-size: 19px;
        width: 70%;
    }

    .Map {
        width: 80%;
        height: 420px;
    }

    .NavButton {
        padding: 16px 40px;
        border-radius: 32px;
        font-size: 19px;
        font-weight: 500;
    }


    .AlignSocials {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 16px;
        margin-top: 32px;
    }

    .Instagram {
        width: 120px;
        height: 120px;
    }

    .Instagram svg {
        width: 64px;
        width: 64px;
    }

    .Instagram:hover {
        width: 150px;
        height: 150px;
    }


    .Facebook {
        width: 120px;
        height: 120px;
    }

    .Facebook svg {
        height: 64px;
    }

    .Facebook:hover {
        width: 150px;
        height: 150px;
    }

    .Whatsapp {
        width: 120px;
        height: 120px;
    }

    .Whatsapp svg {
        width: 64px;
    }

    .Whatsapp:hover {
        width: 150px;
        height: 150px;
    }


    .Email {
        width: 120px;
        height: 120px;
    }

    .Email:hover {
        width: 150px;
        height: 150px;
    }

    .Email svg {
        width: 64px;
    }


    .AlignAccordions {
        gap: 24px;
    }

    .Accordion {
        gap: 12px;
        width: 500px;
    }

    .Accordion div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
    }

    .Accordion div p {
        font-size: 19px;
    }

    .Accordion div svg {
        display: none;
    }

    .Accordion p {
        font-size: 19px;
    }

    .Hidden {
        display: block;
    }

    .DivideAccordions {
        flex-direction: column;
        gap: 24px;
        margin-top: 16px;
    }

    .Sec4 {
        margin-top: 72px;
    }

}


@media screen and (min-width: 781px) and (max-width: 1080px) {

    header {
        height: 160px;
    }

    footer {
        height: 580px;
    }

    .Sec1 {
        margin-top: 48px;
    }

    .Line {
        width: 200px;
        height: 4px;
    }

    .AlignHeading h1 {
        font-size: 32px;
    }

    .InfoContato {
        margin-top: 16px;
        margin-bottom: 16px;
        width: 80%;
        padding: 48px 0px 48px 0px;
        background-color: #F5F6F7;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        border-radius: 4px;
        gap: 64px;
    }

    .AlignInfo {
        gap: 8px;
        margin-bottom: 16px;
    }

    .AlignInfo p {
        font-size: 19px;
    }

    .Sec2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 64px;
    }

    .Sec2 p {
        margin-bottom: 8px;
        font-size: 19px;
        width: 50%;
    }

    .Map {
        width: 80%;
        height: 400px;
    }

    .NavButton {
        padding: 16px 40px;
        border-radius: 32px;
        font-size: 19px;
        font-weight: 500;
    }


    .AlignSocials {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 16px;
        margin-top: 40px;
    }

    .Instagram {
        width: 160px;
        height: 160px;
    }

    .Instagram svg {
        width: 112px;
    }

    .Instagram:hover {
        width: 200px;
        height: 200px;
    }


    .Facebook {
        width: 160px;
        height: 160px;
    }

    .Facebook svg {
        height: 112px;
    }

    .Facebook:hover {
        width: 200px;
        height: 200px;
    }

    .Whatsapp {
        width: 160px;
        height: 160px;
    }

    .Whatsapp svg {
        width: 112px;
    }

    .Whatsapp:hover {
        width: 200px;
        height: 200px;
    }


    .Email {
        width: 160px;
        height: 160px;
    }

    .Email:hover {
        width: 200px;
        height: 200px;
    }

    .Email svg {
        width: 112px;
    }


    .AlignAccordions {
        gap: 24px;
    }

    .Accordion {
        gap: 12px;
        width: 80%;
    }

    .Accordion div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
    }

    .Accordion div p {
        font-size: 19px;
    }

    .Accordion div svg {
        display: none;
    }

    .Accordion p {
        font-size: 19px;
    }

    .Hidden {
        display: block;
    }

    .DivideAccordions {
        flex-direction: column;
        gap: 24px;
        margin-top: 16px;
    }

    .Sec4 {
        margin-top: 56px;
    }


}


@media screen and (min-width: 1081px) {

    header {
        height: 160px;
    }

    footer {
        height: 580px;
    }

    .Sec1 {
        margin-top: 48px;
    }

    .Line {
        width: 200px;
        height: 4px;
    }

    .AlignHeading h1 {
        font-size: 32px;
    }

    .InfoContato {
        margin-top: 16px;
        margin-bottom: 16px;
        width: 760px;
        padding: 48px 0px 48px 0px;
        background-color: #F5F6F7;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        border-radius: 4px;
        gap: 64px;
    }

    .AlignInfo {
        gap: 8px;
        margin-bottom: 16px;
    }

    .AlignInfo p {
        font-size: 19px;
    }

    .Sec2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 64px;
    }

    .Sec2 p {
        margin-bottom: 8px;
        font-size: 19px;
        width: 50%;
    }

    .Map {
        width: 65%;
        height: 420px;
    }

    .NavButton {
        padding: 16px 40px;
        border-radius: 32px;
        font-size: 19px;
        font-weight: 500;
    }


    .AlignSocials {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 16px;
        margin-top: 32px;
    }

    .Instagram {
        width: 200px;
        height: 200px;
    }

    .Instagram svg {
        width: 144px;
    }

    .Instagram:hover {
        width: 240px;
        height: 240px;
    }


    .Facebook {
        width: 200px;
        height: 200px;
    }

    .Facebook svg {
        height: 144px;
    }

    .Facebook:hover {
        width: 240px;
        height: 240px;
    }

    .Whatsapp {
        width: 200px;
        height: 200px;
    }

    .Whatsapp svg {
        width: 144px;
    }

    .Whatsapp:hover {
        width: 240px;
        height: 240px;
    }


    .Email {
        width: 200px;
        height: 200px;
    }

    .Email:hover {
        width: 240px;
        height: 240px;
    }

    .Email svg {
        width: 144px;
    }


    .AlignAccordions {
        gap: 24px;
    }

    .Accordion {
        gap: 12px;
        width: 500px;
    }

    .Accordion div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
    }

    .Accordion div p {
        font-size: 19px;
    }

    .Accordion div svg {
        display: none;
    }

    .Accordion p {
        font-size: 19px;
    }

    .Hidden {
        display: block;
    }

    .DivideAccordions {
        flex-direction: row;
        gap: 24px;
        margin-top: 16px;
    }

    .Sec4 {
        margin-top: 72px;
    }


}
